@page
@model ChangePasswordModel
@{
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="styles.css">
</head>
<div class="logo-image">
    <img src="~/img/LoCoMProLogo.svg" alt="LoCoMPro Logo">
</div>
<div class="changePsw-section">

    <!-- change Password Form-->
    <form class="form-input" method="post">
        <div id='changePsw'>Cambiar contraseña</div>
        <partial name="_StatusMessage" for="StatusMessage" />
        <!-- Space to enter password -->
        <label asp-for="Input.OldPassword">Contraseña Actual</label>
        <input asp-for="Input.OldPassword" id="psw" placeholder="Contraseña Actual" class="form-control" style="border-radius: 15px;
                    border: 2px black solid; margin-bottom: 8px; margin-top: 5px" aria-required="true">

        <label asp-for="Input.NewPassword">Contraseña Nueva</label>
        <input asp-for="Input.NewPassword" id="psw" placeholder="Contraseña Nueva" class="form-control" style="border-radius: 15px;
                    border: 2px black solid; margin-bottom: 8px; margin-top: 5px" aria-required="true">
        <!-- Space to enter password -->
        <label asp-for="Input.ConfirmPassword">Confirmar Contraseña</label>
        <input asp-for="Input.ConfirmPassword" id="psw" placeholder="Confirmar contraseña" class="form-control" style="border-radius: 15px;
                    border: 2px black solid; margin-bottom: 8px; margin-top: 5px" aria-required="true">
        <div asp-validation-summary="All" class="text-danger"></div>
        <button id="changePswButton" type="submit">Cambiar Contraseña</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
