@page
@model LoginModel
@{

}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="~/css/SharedStyles.css">
    <link rel="stylesheet" href="styles.css">
    <script src="~/js/Login.js"></script>
</head>
<body>
    <div class="logo-image">
        <img src="~/img/LoCoMProLogo.svg" alt="LoCoMPro Logo">
    </div>
    <div class="login-section">
        <form class="form-input" method="post">
            <div id='inises'>Iniciar Sesión</div>

            <label asp-for="Input.Email">Correo Electrónico</label>
            <input asp-for="Input.Email" placeholder="usuario@gmail.com" aria-required="true">

            <label asp-for="Input.Password">Contraseña</label>
            <input asp-for="Input.Password" id="psw" placeholder="Contraseña" aria-required="true">
            
            @* <span asp-validation-for="Input.Password" class="text-danger"></span> *@

            <input type="checkbox" onclick="shwPass()">Mostrar Contraseña

            <button id="iniSesion" type="submit">Iniciar Sesión</button>
            <div id="forgotpsw"><a asp-page="./ForgotPassword">¿Has olvidado tu contraseña?</a></div>
        </form>
    </div>
    <div class="noacc-section">
        <div id="separator"></div>
        <div style="text-align: center">¿No te has registrado?</div>
        <a asp-area="Identity" asp-page="/Account/Register">
            <button id="register">Registrarse</button>
        </a>
    </div>
</body>
</html>


@* @section Scripts {
    <partial name="_ValidationScriptsPartial" />
} *@
