@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Cambio de contraseña exitoso.";
}

<h1 style="text-align:center">@ViewData["Title"]</h1>
<p style="text-align:center">
    Su contraseña ha sido cambiada con éxito. Haga click aquí <a asp-page="./Login">para iniciar sesión</a>.
</ps>
