<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] LoCoMPro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LoCoMPro.styles.css" asp-append-version="true" />
    <!-- Shortcut icon of the layout -->
    <link rel="shortcut icon" type="image/svg" href="~/img/LoCoMProLogo.svg"/>
    <!-- Shared style for several pages-->
    <link rel="stylesheet" href="~/css/SharedStyles.css" />
</head>
<body>
    <header>
        <!-- Navegation bar of the layout -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            @if (!(bool)ViewData["HiddenLayout"])
            {
                <div class="logo-link d-flex justify-content-left">
                    <!-- Logo link to the main page -->
                    <a href="/" class="button-general">
                        <img src="~/img/LoCoMProLogo.svg" alt="Agregar Registro">
                    </a>
                </div>
                <!-- Section of the search bar and buttons for the layout -->
                <div class="search-bar d-flex justify-content-center">
                    <!-- Type selector button -->
                <button class="button-general" id="type-search-selector">
                    <span>Buscar por</span>
                    <img src="~/img/ArrowDownIcon.svg" />
                </button>

                <!-- Input box for the search -->
                <input type="text" id="search-input" placeholder="Buscar.." />

                <!-- Search button -->
                <button class="button-general" id="search-button">
                    <img src="~/img/SearchIcon.svg" />
                </button>

                <!-- Location butoon -->
                <button class="button-general" id="location-selector">
                    <img src="~/img/LocationIcon.svg" />
                    <span> Placeholder de una prueba </span>
                </button>
                </div>
            }
            <!-- Navegation bar buttons -->
            @if (!(bool)ViewData["HiddenLayout"])
            {
                <div class="d-flex justify-content-end w-100">
                    <!-- Add register button of the layout -->
                    <a href="" class="layout-button button-general">
                        <img src="~/img/AddRegisterIcon.svg" alt="Agregar Registro">
                        <p>Agregar</p>
                    </a>
                    <!-- USer configuration button of the layout -->
                    <button class="layout-button button-general">
                        <img src="~/img/UserIcon.svg" alt="Opciones de Usuario">
                        <p>Usuario</p>
                    </button>
                </div>
            }
            @if ((bool)ViewData["HiddenLayout"])
            {
                <div class="d-flex justify-content-end w-100">
                    <!-- Add register button of the layout -->
                    <a href="" class="layout-button button-general">
                        <img src="~/img/AddRegisterIcon.svg" alt="Agregar Registro">
                        <p>Agregar</p>
                    </a>
                    <!-- USer configuration button of the layout -->
                    <button class="layout-button button-general">
                        <img src="~/img/UserIcon.svg" alt="Opciones de Usuario">
                        <p>Usuario</p>
                    </button>
                </div>
            }
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <!-- Footer of the layout -->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - LoCoMPro - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>