<head>
    <title>locationButton</title>
    <link rel="stylesheet" href="~/css/LocationButton.css" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBMFkBOkHqUiPh9GoSqq8F6h1RZDNRSJ8&libraries=places&region=CR"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/location.js" defer></script>
   @*  <script src="~/js/selectLocation.js" defer></script> *@
</head>

<button type="button" class="button-general location-selector" id="showPopupButton">
    <img src="~/img/LocationIcon.svg" alt="Location Icon" />
    <span id="buttonSpan"> Ubicación </span>
</button>

<div id="modalBackground"></div>

<div id="mapPopup">
    <h2 class="selectHeader">Seleccionar ubicación</h2>
    <div id="map"></div>
    <label for="province" id="province-label">Provincia:</label>
    <select id="province" name="province">
        <option value="" disabled selected hidden>Seleccionar provincia</option>
    </select>
    <label for="canton" id="canton-label">Cantón:</label>
    <select id="canton" name="canton" disabled>
        <option value="" disabled selected hidden>Seleccione una provincia primero</option>
    </select>
    <input type="hidden" name="latitude" value="" id="latitude">
    <input type="hidden" name="longitude" value="" id="longitude">
    <button type="button" id="closePopupMap-button">Cerrar</button>
    <button type="button" id="saveLocationMap-button">Guardar</button>
</div>
