<!-- Partial view of the location button -->

<head>
    <!-- Shared style for several pages-->
    <link rel="stylesheet" href="~/css/LocationButton.css" />
</head>

<!-- Location button -->
<button class="button-general location-selector">
    <img src="~/img/LocationIcon.svg" />
    <span> Placeholder de una prueba </span>
</button>
