<!-- Partial view of the location button -->

<head>
    <!-- Shared style for several pages-->
    <link rel="stylesheet" href="~/css/LocationButton.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/js/selectLocation.js"></script>
    <link rel="stylesheet" href="~/css/LocationButton.css">
</head>

<!-- Location button -->
<button type="button" class="button-general location-selector" id="locationButton">
    <img src="~/img/LocationIcon.svg"/>
    <span id="buttonSpan"> Ubicación </span>
    <div id="chosenLocationInfo" style="display: none;">
        <span id="chosenProvince">KK</span>
        <span id="chosenCanton">CK</span>
    </div>
</button>

<!-- Location Popup -->
<div id="locationPopup" class="popup">
    <div class="popup-content">
        <h2>Seleccionar ubicación</h2>
        <label for="province">Provincia:</label>
        <select id="province" name="province">
            <option value="" disabled selected hidden>Seleccionar provincia</option>
        </select>
        <label for="canton">Cantón:</label>
        <select id="canton" name="canton" disabled>
            <option value="" disabled selected hidden>Seleccione una provincia primero</option>
        </select>
        <button type="button" id="closePopup-button">Cerrar</button>
        <button type="button" id="saveLocation-button">Guardar</button>
    </div>
</div>
