<!-- Partial view of the pagination section -->

<head>
    <title>Pagination</title>
    <!-- Shared style for several pages-->
    <link rel="stylesheet" href="~/css/Pagination.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<!-- Pagination section -->
<div class="pagination-section">
    <!-- First page button -->
    <button class="button-general pagination-button" id="pagination-button-first" hidden>
        <img src="~/img/FirstIcon.svg" alt="Primera">
    </button>

    <!-- Previous page button -->
    <button class="button-general pagination-button" id="pagination-button-left" hidden>
        <img src="~/img/ArrowLeftIcon.svg" alt="Anterior">
    </button>

    <!-- Specific navigation page buttons -->
    <span class="pagination-square" id="pageButtonsContainer"></span>

    <!-- Next page button -->
    <button class="button-general pagination-button" id="pagination-button-right" hidden>
        <img src="~/img/ArrowRightIcon.svg" alt="Siguiente">
    </button>

    <!-- Last page button -->
    <button class="button-general pagination-button" id="pagination-button-last" hidden>
        <img src="~/img/LastIcon.svg" alt="Última">
    </button>

    <!-- Actual and total amount of pages -->
    <div id="total"></div>
</div>
