<!-- Partial view of the veracity stars section -->

<head>
    <!-- Shared style for several pages-->
    <link rel="stylesheet" href="~/css/VeracityStars.css" />
</head>

@{
    float veracityValue = @ViewBag.VeracityValue;
    var fullStarts = Math.Floor(veracityValue);
    var halfStarts = veracityValue % 1 == 0.5;
}

<div>
    @for (int i = 0; i < fullStarts; ++i)
    {
        <span class='s'><i class="fa fa-star"></i></span>
    }
    @if (halfStarts)
    {
        <span class='s'><i class="fa fa-star-half-o"></i></span>
        ++fullStarts;
    }
    @for (int i = 0; i < 5 - fullStarts; ++i)
    {
        <span class='s'><i class="fa fa-star-o"></i></span>
    }
</div>