
/* Style for the form */
.register-section form {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    border: none;
    box-shadow: none;
}

/* Style for labels */
.register-section label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
}


.register-section textarea {
    /* Comment box height */
    height: 100px;
}


/* Style for text input fields, and textarea */
input[type="text"], input[type="number"],
textarea {
    background-color: #FFFFFF;
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #0A1923AD;
    border-radius: 15px;
}


/* Style for disabled fields */
.required-field:disabled {
    background-color: #E2E3E3;
    border: 1px solid #00000047;
}

/* Disabled placeholder fields style*/
.required-field:disabled::placeholder {
    color: #00000030;
}

/* Enabled placeholder fields style*/
.required-field:enabled::placeholder {
    color: #6b6b6b;
}

/* Style for the container of brand and model */
.brand-model-container {
    display: flex;
    justify-content: space-between; /* Add space between the fields */
}

/* Style for each field and label of brand and model */
.brand-model-field-group {
    flex: 1; /* Distribute available space evenly between fields */
    display: flex;
    flex-direction: column; /* Place the label above the input field */
    align-items: flex-start; /* Align elements to the left */
}


/* Style for the input fields */
.brand-model-field-group input[type="text"] {
    width: 100%; /* Make both input fields the same width */
    padding: 10px;
    border: 1px solid #0A1923AD;
}

/* White space between fields*/
.brand-model-field-group:first-child {
    margin-right: 30px;
}


/* Style for the container of price and category */
.price-category-container {
    display: flex;
    justify-content: space-between; /* Add space between the fields */
}

/* Style for each field and label of price and category */
.price-category-field-group {
    flex: 1; /* Distribute available space evenly between fields */
    display: flex;
    flex-direction: column; /* Place the label above the input field */
    align-items: flex-start; /* Align elements to the left */
}


/* Style for the input fields */
.price-category-field-group input[type="text"] {
    width: 100%; /* Make both input fields the same width */
    padding: 10px;
    border: 1px solid #0A1923AD;
}

/* White space between fields*/
.price-category-field-group:first-child {
    margin-right: 30px;
}


/* Style for select field */
.register-section select {
    background-color: #FFFFFF;
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid #0A1923AD;
    border-radius: 15px;
}

/* Title Style */
.register-section h2 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Title Separator Style*/
.title-separator {
    height: 50px;
    background-color: #9F9F9F;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) !important;
}

/* Specific style for input button */
.submit-button {
    background-color: #F5AA38;
    color: #000000;
    border: none;
    padding: 6px 15px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.30);
    margin-left: auto;
    margin-top:20px;
}


/* Style for submit-button when hover*/
.submit-button:hover {
    background-color: #F59500;
}


/* Text in button*/
.button-text {
    font-weight: 500;
    margin-right: 8px;
    order: 1;
}

/* Style for icon in submit botton*/
.button-content img {
    height: 25px;
    margin-left: 0px;
    opacity: 1;
    order: 2;
}

/* Style for location button*/
.location-button {
    background-color: #74C2F8;
    color: #000000;
    border: none;
    padding: 6px 20px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-weight: 500;
    width: auto;
    white-space: nowrap;
    box-shadow: 0px 4px 4px 0px rgba(80, 158, 224, 0.5);
    margin-right: 40px;
}

/* Style for location button when hover*/
.location-button:hover {
    background-color: #5AABE2;
}

/* Style for location container*/
.location-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* Style for location input*/
.location-input {
    flex: 1;
    background-color: #E2E3E3;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid #E2E3E3;
    border-radius: 5px;
}

#locationInfo {
    display: none;
    background-color: #FFFFFF;
    padding: 6px;
    border: none;
    border-radius: 15px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

/*Style for pop up*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100000;
    justify-content: center;
    align-items: center;
}

/* Style for pop up content*/
.popup-content {
    background-color: #fff;
    margin: 11% auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Style for canton field when is enabled */
#canton:enabled {
    background-color: #FFF;
    border: 1px solid #0A1923AD;
}

/* Style for canton field when is disabled */
#canton:disabled {
    background-color: #E2E3E3;
    border: 1px solid #00000047;
}

/* Style for saveLocation botton*/
#saveLocation-button {
    background-color: #74C2F8;
    color: #000000;
    border: none;
    padding: 6px 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 4px 0px rgba(80, 158, 224, 0.5);
    float: right;
    width: auto;
}

/* SaveLocation-button when hover*/
#saveLocation-button:hover {
    background-color: #5AABE2;
}

/* Style for save closePopup botton*/
#closePopup-button {
    background-color: #F87474;
    color: #000000;
    border: none;
    padding: 6px 21px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 4px 0px rgba(224, 80, 80, 0.5);
    width: auto;
}

/* SaveLocation-button when hover*/
#closePopup-button:hover {
    background-color: #E25A5A;
}

/* Style for the asterisk of required fields*/
.required-marker {
    color: red;
    margin-left: 3px;
}

/* Hide asterisk message*/
.required-tooltip {
    display: none;
    color: red;
    margin-left: 5px;
}

/* Show message when hovering over asterisk*/
.required-marker:hover + .required-tooltip {
    display: inline-block;
}

/* Style for the feedback message when is active */
.feedback-message.active {
    display: block;
    opacity: 1;
    z-index: 10;
}

.feedback-message {
    background-color: #cb3434;
    margin: 42% auto;
    color: black;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 15px;
    right: -7%;
    transform: translateX(-50%);
    display: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
    font-weight: 400;
    z-index: 10;
    color: white;
}

/* ------------------------ Map & PopUp ------------------------ */
#mapPopup {
    display: none;
    position: fixed;
    top: 44%;
    left: 50%;
    width: 800px;
    height: 760px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-weight: 500;
    text-align: left;
    transform: translate(-50%, -50%);
}


#mapPopup h2.selectHeader {
    font-size: 24px;
    color: black;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

#map {
    margin: 0 auto;
    display: block;
    width: 700px;
    height: 400px;
    border-radius: 15px;
    margin-bottom: 20px
}

/* Style for canton options*/
#canton:enabled, #province {
    background-color: #FFFF;
    width: 88%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #0A1923AD;
    border-radius: 15px;
    margin-left: 47px;
    display: block;
}


#canton:disabled {
    background-color: #E2E3E3;
    border: 1px solid #00000047;
    width: 88%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    display: block;
    margin-left: 47px;
}

#canton:disabled::placeholder {
    color: #00000030;
}

/* Style for saveLocation botton*/
#saveLocationMap-button {
    background-color: #74C2F8;
    color: #000000;
    border: none;
    padding: 6px 25px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 4px 0px rgba(80, 158, 224, 0.5);
    float: right;
    width: auto;
    margin-right: 44px;
    margin-top: 8px;
}

/* SaveLocation-button when hover*/
#saveLocationMap-button:hover {
    background-color: #5AABE2;
}


/* Style for save closePopup botton*/
#closePopupMap-button {
    background-color: #F87474;
    color: #000000;
    border: none;
    padding: 6px 31px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 4px 0px rgba(224, 80, 80, 0.5);
    width: auto;
    margin-left: 47px;
    margin-top: 8px;
}

/* SaveLocation-button when hover*/
#closePopupMap-button:hover {
    background-color: #E25A5A;
}

#canton-label, #province-label {
    display: block;
    margin-left: 47px;
    font-weight: 600;
}

/* ------------------Drag & Drop ------------------ */

/* Container */
#dragDropZone.dropzone {
    border: 2px dashed #00000047;
    border-radius: 15px;
}

/* Placeholder */
#dragDropZone .dz-message {
    color: #6b6b6b;
}

/* Preview images style*/
#dragDropZone .dz-preview {
    position: relative;
    display: inline-block;
    margin: 15px;
    border-radius: 15px;

}

/* Single Images style */
#dragDropZone .dz-preview .dz-image {
    border-radius: 5px;
    overflow: hidden;
}


#dragDropZone .dz-progress {
    height: 0%;
}

#dragDropZone .dz-remove {
    text-decoration: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    background-color:aliceblue;
    box-shadow: 0.5px 2px 2px 0px #ccc;

}

#dragDropZone .dz-remove:hover {
    background-color: #F87474;
    box-shadow: 0px 2px 2px 0px rgba(224, 80, 80, 0.5);
}


#dragDropZone .dz-error-message {
    top: 137px;
    left: 3px;
    width: 100%;
    font-size: 14px;
}

#dragDropZone .dz-remove.hidden {
    display: none;
}