.empty-section {
    display: inline-block;
    width: 100%;
    height: 100%;
}

    /* Style for the empty list image */
    .empty-section img {
        width: 40%;
        height: 40%;
        margin: -70px
    }

.old-registers-section {
    height: 100%;
    display: inline-block;
    width: 100%;
    min-width: 950px;
}

.results-cont-msg {
    margin-left: 30px;
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Style for search title */
.container-List-Old-Columns {
    display: inline-block;
    flex-direction: row;
    height: auto;
    width: 91%;
    justify-content: space-around;
    list-style: none;
    margin: 10px 0px;
    min-width: 950px;
    align-items: left;
}

    /* Style for search title columns */
    .container-List-Old-Columns li {
        font-size: x-large;
        text-align: center;
    }

    /* Style for columns */
    .container-List-Old-Columns ul {
        margin: 0px;
        padding: 0px;
    }

#register-date {
    text-align: center !important;
}

/* Style for the result register block */
.result-block {
    display: inline-block;
    height: auto;
    width: 100%;
    text-decoration: none;
    color: #000000;
    margin: 5px 0px;
    min-height: 4em;
    border-radius: 15px;
    text-align: left;
    min-width: 950px;
    font-size: large;
}

    /* Style for the result register block text*/
    .result-block a span {
        width: 16%;
        margin: 0px 10px;
        overflow: clip;
        text-overflow: ellipsis;
        justify-content: space-around;
    }

    /* Style for the result register block text */
    .result-block a {
        display: flex;
        height: 4em;
        width: 100%;
        background-color: #E2E3E3;
        justify-content: space-around;
        border-radius: 15px;
        padding: 10px 15px;
        max-height: 3.9em;
        text-decoration: none;
        color: #000000;
    }

#product-col, #prod-name {
    width: 250px;
}

#store-col {
    width: 120px;
}

#old-registers-num {
    text-align:center;
    margin-right: 60px;
}


/* Style for the short */
.short-column {
    width: 10% !important;
}

/* Style for the result block when hover */
.result-block a:hover {
    color: #000000;
    border: 1px solid #BABAB8;
}

/* Style for the register block text of the price */
.align-right {
    justify-content: flex-end !important;
}

/* Style for the seccion of pop up*/
.interactive-popup-section {
    height: 100%;
    text-align: center;
    align-items: center;
}

/* Style for the interaction pop up */
.interactions-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

/* Style for the interaction Pop Up content */
.interactions-popup-content {
    background-color: #fff;
    margin: 11% auto;
    padding: 20px;
    height: auto;
    min-width: 450px;
    max-width: 470px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Style for the button that open the Interaction Pop Up */
.open-interactions-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin: 5px 0px 0px 0px;
}
/* Style for the button that close the Interaction Pop Up */
.interactions-close-button {
    background-color: white;
    color: #000000;
    border: 1px #BABAB8 solid;
    padding: 6px 28px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
    width: auto;
}

    /* Style for the button that close the Interaction Pop Up when hover */
    .interactions-close-button:hover {
        background-color: #e5e5e5;
    }


/* Style for the button container */
.buttons-container {
    margin-top: 20px;
}

    .buttons-container button {
        min-width: 126px;
        max-width: 200px;
    }

#hideRegisters {
    background-color: #74C2F8;
    color: #000000;
    border: none;
    padding: 6px 22px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 4px 0px rgba(80, 158, 224, 0.5);
    width: auto;
    margin-right: 15px;
    margin-left: 15px;
}

    /* Style for the save button of the pop up when hover*/
    #hideRegisters:hover {
        background-color: #5AABE2;
    }

/* Style for the button that close the Interaction Pop Up */
#keepRegisters {
    background-color: #F87474;
    color: #000000;
    border: none;
    padding: 6px 28px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 4px 0px rgba(224, 80, 80, 0.5);
    width: auto;
}

    /* Style for the button that close the Interaction Pop Up when hover */
    #keepRegisters:hover {
        background-color: #E25A5A;
    }


.feedback-message {
    background-color: #F5AA38;
    margin: 44% auto;
    color: black;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 14px;
    right: 10px;
    transform: translateX(-50%);
    display: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
    font-weight: 500;
    z-index: 10;
}

    .feedback-message.active {
        display: block; /* Mostrar el mensaje */
        opacity: 1; /* Hacerlo visible */
        z-index: 10;
    }

