/* Styles for the product list visualization page*/

/* Style for the information section */
.information-section {
    display: inline-block;
    width: 100%;
    height: auto;
    color: black;
    min-width: 1100px;
}

/* Style for the title of the page */
.list-page-title {
    text-align: center;
    display:inline-block;
    width: 100%;
}

/* Style for the subtitle of the page */
.list-page-subtitle {
    text-align: left;
}

/* Style for the information text section*/
.information-text-section {
    display: inline-block;
    width: 100%;
}


/* Style for the information button section */
.information-button-section {
    display: inline-block;
    width: 19%;
    height: 100%;
    min-width: 200px;
    text-align: right;
    width: 100%;
}

/* Style for the location message text */
.location-message {
    color: var(--locompro-red);
    width: 100%;
    display:inline-block;
    text-align: right;
    margin: 10px 0px;
}

/* Style for the generate report button */
#generate-report-button {
    background-color: var(--locompro-blue);
    padding: 10px;
    font-size: larger;
}

/* Style for the generate report button when hover */
#generate-report-button:hover {
    background-color: var(--locompro-blue-hover);
}

/* Style for the generate report button icon */
.fa-list {
    font-size: 20px !important;
    text-align: center;
    margin: 5px;
}

/* Style for the title of the columns */
.list-page-column-title {
    display: inline-flex;
    height: auto;
    width: 76%;
    justify-content: space-around;
    list-style: none;
    margin: 10px 0px 10px 0px;
    padding: 0px;
    min-width: 900px;
}

/* Style for list title columns */
.list-page-column-title li {
    font-size: x-large;
    flex: 0 0 33%;
    text-align: center;
    margin: 0px 10px;
}

/* Style for columns */
.list-page-column-title ul {
    margin: 0px;
    padding: 0px;
}

/* Style for the product list section */
.product-list-section {
    height: auto;
    width: 100%;
    text-decoration: none;
    color: black;
}

/* Style for the product list block */
.product-list-block {
    display: flex;
    height: auto;
    text-decoration: none;
    color: black;
    background-color: var(--locompro-light-gray);
    margin: 10px 0px;
    padding: 0px 10px;
    min-height: 4em;
    border-radius: 15px;
    text-align: left;
    justify-content: space-around;
    min-width: 950px;
    width: 100%;
    align-items: center !important;
    font-size: large;
}

/* Style for the register block text */
.product-list-block span {
    display: inline-flex;
    width: 14.7%;
    text-decoration: none;
    overflow: clip;
    text-overflow: ellipsis;
    margin: 10px 2px;
    justify-content: flex-start;
    max-height: 3.3em;
    padding: 5px;
    font-size: large;
}

/* Style for the register block button */
.product-list-block button {
    width: auto;
    margin: 0px 0px 0px 15px;
}

/* Style for the register block text of the price */
.align-right {
    justify-content: flex-end !important;
}


/* Style for the button that remove the button from the list */
.remove-button {
    display: inline-block;
    height: auto;
    width: auto;
    text-align: center;
    font-size: larger;
    background-color: var(--locompro-red);
}

/* Style for the button that remove the button from the list when hover*/
.remove-button:hover {
    background-color: var(--locompro-red-hover);
}

/* Style for the minus circle icon */
.fa-minus-circle {
    font-size: 25px !important;
    text-align: center;
    margin: 5px;
}

/* Style for the feedback message of the Pop Up */
.feedback-message {
    background-color: var(--locompro-yellow);
    margin: 26% auto;
    color: black;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 14px;
    right: 5%;
    transform: translateX(-50%);
    display: none;
    transition: opacity 0.3s ease;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    z-index: 10;
}

/* Style for the feedback message of the Pop Up when active */
.feedback-message.active {
    display: block;
    opacity: 1;
    z-index: 10;
}

/* Style for the empty list */
.empty-section {
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* Style for the empty list image */
.empty-section img{
    width: 40%;
    height: 40%;
    margin: -70px
}

/* Style for the line of the list block */
.information-section hr {
    margin: 10px !important;
}