/* Styles for the product list visualization page*/


.information-section {
    display: inline-block;
    width: 100%;
    height: auto;
    color: black;
}

.list-page-title {
    text-align: center;
}

.list-page-subtitle {
    text-align: left;
}

.list-page-column-title {
    display: inline-flex;
    height: auto;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    margin: 10px 0px;
}

/* Style for list title columns */
.list-page-column-title li {
    font-size: x-large;
    flex: 0 0 0%;
    text-align: center;
    margin: 0px 10px;
}

/* Style for columns */
.list-page-column-title ul {
    margin: 0px;
    padding: 0px;
}

.register-list-section {
    height: auto;
    width: 100%;
    text-decoration: none;
    color: #000000;
}

.register-list-block {
    height: auto;
    width: 100%;
    text-decoration: none;
    color: #000000;
}

/* Style for the register block text */
.register-list-block a {
    display: flex;
    height: 4em;
    width: 100%;
    background-color: #E2E3E3;
    justify-content: space-around;
    border-radius: 15px;
    margin: 10px 0px;
    padding: 0px 10px;
    max-height: 4em;
    text-decoration: none;
    overflow: clip;
    text-overflow: ellipsis;
    color: #000000;
}

/* Style for the register block text*/
.register-list-block a span {
    text-align: left;
    margin: 10px 10px;
    flex: 0 0 0%;
}
