/* Styles for the producto visualization page*/

/* Style for the title of product requested */
.titleProduct {
    width: 1152px;
    text-align: left;
    color: black;
    font-size: 30px;
    font-weight: 700;
    word-wrap: break-word;
}

/* Style for the format of specifications of product */
.column {
    flex: 33.33%;
    height: 100px;
    margin: 5px;
    text-align: center;
    display: inline-block;
    margin: 0px;
}

/* Style for paragraphs within columns */
.column p {
    font-size: 24px;
}

/* Container that wraps the product specification columns */
.product-page-section {
    display: flex;
    margin-bottom: 10px;
}

/* Horizontal line of separation with the list of records */
.product-page hr.style-four {
    background: #9F9F9F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
    margin-bottom: 20px;
}

/* Style for the title of product requested */
.titleListRegister {
    width: 1152px;
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 700;
    word-wrap: break-word;
    margin: 0 auto;
    padding: 20px;
    font-style: normal;
    line-height: normal;
}


/*Style for dropdown options*/
.dropdownOption {
    text-align: center;
    height: 100px;
    font-size: 30px;
    margin: 0px;
    background-image: url('/img/ArrowDownIcon.svg');
    background-repeat: no-repeat;
    background-position: 200px 22px;
}

/*Style for images section*/
.product-information {
    display: flex;
    height: 100%;
    width: 100%;
}

/*Style for images section*/
.images-section {
    display: flex;
    height: 50%;
    width: 50%;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

/*Style for information section*/
.info-section {
    display: inline-block;
    height: 50%;
    width: 50%;
    justify-content: center;
}

/*Style for title seccion*/
.title-section {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    margin: 10px;
}

/*Styles for product caracteristictics*/
.caracteristcs-section {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    margin: 10px;
}

/*Styles for product caracteristictics*/
.caracteristcs-section p {
    font-size: 22px;
}

/*Style for carousel seccion*/
.carousel-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 15%;
    margin: 10px;
}

/*Styel for image carousel*/
.img-carousel {
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 20%;
    max-width: 50px;
}

/*Style for main imagen */
.main-imagen-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 80%;
    margin: 10px;
}

/*Styel for small image*/
.small-img-space {
    flex: 0 0 auto;
    margin: 10px 0;
    /*background-color: gray;*/
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 5px;
}

/*Styel for main image*/
.main-img-space {
    flex: 0 0 auto;
    margin: 10px 0;
    /*background-color: gray;*/
    width: 350px;
    height: 325px;
    border: 1px solid;
    border-radius: 30px;
}

/* Agrega estilos para el contenedor de contenido */
.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

/* Estilos para el contenido dentro de content-section (por ejemplo, los párrafos) */
.content-section p {
    margin: 5px 0;
}

/*Style for the text in the columns*/
.product-page nav {
    background-color: #FFF;
    font-size: 30px;
    text-align: center
}

/*Style for list registers columns */
.containerListRegistercolumns {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    padding-left: 0;
}

/*Style for text in the html list */
.containerListRegistercolumns > li > a {
    display: block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
    background-image: url('/img/ArrowDownIcon.svg');
    background-repeat: no-repeat;
    background-position: 150px 30px;
    text-align: left;
    padding-left: 30px;
}

/*Style for text in the selected option of the list */
.containerListRegistercolumns > li:hover > a {
    color: #208EE0;
}

/*Style for the vertical menu */
.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: darkgrey;
    border-radius: 15px;
    padding-left: 0;
}

/*Style for the vertical menu */
.containerListRegistercolumns li:hover .menu-vertical {
    display: block;
    /*heres to fix*/
}

/*Style for text in the selected option of the vertical menu */
.menu-vertical li:hover a {
    color: #208EE0;
}

/*Style for text in the vertical menu */
.menu-vertical li a {
    display: grid;
    color: white;
    text-decoration: none;
    padding: 15px 15px 15px 20px;
    font-size: 20px;
    text-align: center;
}


/*Style for comment */
.textComment {
    text-align: center;
    font-size: 30px;
    margin: 0px;
    padding: 15px 20px;
}

/* Style for the result section */
.register-section {
    height: auto;
    width: 100%;
}

/* Style for the register block */
.register-block {
    text-decoration: none;
    background-color: #E2E3E3;
    border-radius: 15px;
    margin: 10px 0px;
    max-height: 4em;
}

/* Style for the register block text*/
.register-block a {
    display: flex;
    height: 4em;
    background-color: #E2E3E3;
    justify-content: space-around;
    border-radius: 15px;
    margin: 10px 0px;
    padding: 0px 10px;
    max-height: 4em;
    text-decoration: none;
    overflow: clip;
    text-overflow: ellipsis;
    color: #000000;
}

/* Style for the register block text*/
.register-block a span {
    flex: 0 0 28%;
    text-align: left;
    margin: 10px 0px;
}

/* Style for the result block when hover */
.register-block:hover {
    background-color: #9F9F9F;
}

/* Style for the search section */
.product-pagination {
    height: 100%;
    text-align: center;
    align-items: center;
}

/* Style for the interaction pop up */
.interactions-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

/* Style for the interaction Pop Up content */
.interactions-popup-content {
    background-color: #fff;
    margin: 11% auto;
    padding: 20px;
    width: 80%;
    height: auto;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Style for the button that open the Interaction Pop Up */
.open-interactions-button {
    cursor: pointer;
    background-color: transparent;
    border:none;
}

/* Style for the save button of the pop up */
#saveButton {
    background-color: #74C2F8;
    color: #000000;
    border: none;
    padding: 6px 15px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 4px 0px rgba(80, 158, 224, 0.5);
    float: right;
    width: auto;
}

/* Style for the save button of the pop up when hover*/
#saveButton:hover {
    background-color: #5AABE2;
}

/* Style for the button that close the Interaction Pop Up */
.interactions-close-button {
    background-color: #F87474;
    color: #000000;
    border: none;
    padding: 6px 21px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 4px 0px rgba(224, 80, 80, 0.5);
    width: auto;
    float:left;
}

/* Style for the button that close the Interaction Pop Up when hover */
.interactions-close-button:hover {
    background-color: #E25A5A;
}

/* Style for the button that open the Interaction Pop Up */
.open-interactions-button {
    margin: 10px;
}

/* Style for the feedback message of the Pop Up */
.feedback-message {
    background-color: #F5AA38;
    margin: 26% auto;
    color: black;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 14px;
    right: 5%;
    transform: translateX(-50%);
    display: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);/
    transition: opacity 0.3s ease;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: 500;
}

/* Style for the feedback message of the Pop Up when active */
.feedback-message.active {
    display: block; /* Mostrar el mensaje */
    opacity: 1; /* Hacerlo visible */
}