/* Styles for the product visualization page*/

/* Style for the title of product requested */
.titleProduct {
    width: 1152px;
    text-align: left;
    color: black;
    font-size: 30px;
    font-weight: 700;
    word-wrap: break-word;
}

/* Style for the format of specifications of product */
.column {
    flex: 33.33%;
    height: 100px;
    margin: 5px;
    text-align: center;
    display: inline-block;
    margin: 0px;
}

/* Style for paragraphs within columns */
.column p {
    font-size: 24px;
}

/* Container that wraps the product specification columns */
.product-page-section {
    display: flex;
    margin-bottom: 10px;
}

/* Horizontal line of separation with the list of records */
.product-page hr.style-four {
    background: #9F9F9F;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
    margin-bottom: 20px;
}

/* Style for the title of product requested */
.titleListRegister {
    width: 1152px;
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 700;
    word-wrap: break-word;
    margin: 0 auto;
    padding: 20px;
    font-style: normal;
    line-height: normal;
}


/*Style for dropdown options*/
.dropdownOption {
    text-align: center;
    height: 100px;
    font-size: 30px;
    margin: 0px;
    background-image: url('/img/ArrowDownIcon.svg');
    background-repeat: no-repeat;
    background-position: 200px 22px;
}

/*Style for images section*/
.product-information {
    display: flex;
    height: 100%;
    width: 100%;
}

/*Style for images section*/
.images-section {
    display: flex;
    height: 50%;
    width: 50%;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

/*Style for information section*/
.info-section {
    display: inline-block;
    height: 50%;
    width: 50%;
    justify-content: center;
}

/*Style for title seccion*/
.title-section {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    margin: 10px;
}

/*Styles for product caracteristictics*/
.caracteristcs-section {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
    margin: 10px;
}

/*Styles for product caracteristictics*/
.caracteristcs-section p {
    font-size: 22px;
    margin-bottom: 10px;
}

/*Style for carousel seccion*/
.carousel-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 15%;
    margin: 10px;
}

/*Styel for image carousel*/
.img-carousel {
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 20%;
    max-width: 50px;
}

/*Style for main imagen */
.main-imagen-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 80%;
    margin: 10px;
}

/*Styel for small image*/
.small-img-space {
    flex: 0 0 auto;
    margin: 10px 0;
    /*background-color: gray;*/
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.small-img-space:hover {
    cursor: pointer;
    border: 2px solid #007bff;
}

/*Styel for main image*/
.main-img-space {
    flex: 0 0 auto;
    margin: 10px 0;
    /*background-color: gray;*/
    width: 350px;
    height: 325px;
    border: 1px solid;
    border-radius: 30px;
}

/* Style for content section */
.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

/* Style for content inside content-section*/
.content-section p {
    margin: 2px 0;
}

/*Style for the text in the columns*/
.product-page nav {
    background-color: #FFF;
    font-size: 30px;
    text-align: center
}

/*Style for list registers columns*/
.containerListRegistercolumns {
    display: grid;
    grid-template-columns: 4fr 7fr 9fr 7fr;
    padding-left: 25px;
    height: auto;
    width: 100%;
    list-style: none;
    min-width: 950px;
    margin: 10px 25px 10px 0px;
}

/*Style for text in the html list*/
.containerListRegistercolumns li {
    font-size: x-large;
    width: 100%;
    text-align: left !important;
    flex: 0 0 0%;
    margin: 0px 10px;
}

/*Style for text in the selected option of the list */
.containerListRegistercolumns ul {
    margin: 0px;
    padding: 0px;
}

/*Style for the vertical menu */
.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: darkgrey;
    border-radius: 15px;
    padding-left: 0;
}

/*Style for the vertical menu */
.containerListRegistercolumns li:hover .menu-vertical {
    display: block;
    /*heres to fix*/
}

/*Style for text in the selected option of the vertical menu */
.menu-vertical li:hover a {
    color: #208EE0;
}

/*Style for text in the vertical menu */
.menu-vertical li a {
    display: grid;
    color: white;
    text-decoration: none;
    padding: 15px 15px 15px 20px;
    font-size: 20px;
    text-align: center;
}

/*Style for comment */
.textComment {
    text-align: left;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
}

/* Style for the result section */
.register-section {
    height: auto;
    width: 100%;
    text-decoration: none;
    color: #000000;
}

/* Style for the register block */
.register-block {
    position: relative;
    display: flex;
    height: auto;
    background-color: #E2E3E3;
    margin: 10px 0px;
    padding: 0px 15px;
    min-height: 4em;
    border-radius: 15px;
    text-align: left;
    justify-content: space-around;
    min-width: 950px;
    width: 100%;
    align-items: center !important;
    font-size: medium;
}

/* Style for the register block text*/
.register-column {
    display: inline-block;
    width: 45%;
    text-decoration: none;
    margin: 10px 0px;
    max-height: 3.3em;
    padding: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Style for the short column of the register*/
.short-column {
    width: 14%;
}

/* Style for the search section */
.product-pagination {
    height: 100%;
    text-align: center;
    align-items: center;
}

/* style for pop up carousel*/
.carousel-section-pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    margin: 5px;
    overflow: auto;
}

/* styles for pop up images collection section */
.img-carousel-pop-up {
    display: flex;
    flex-direction: row;
    overflow: auto;
    max-width: 100%;
}

/* styles for pop up imagen section */
.small-img-space-pop-up {
    flex: 0 0 auto;
    margin: 5px;
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Styles to hide scroll bar*/
.img-carousel-pop-up::-webkit-scrollbar {
    display: none;
}

/* Styles to hide scroll bar*/
.img-carousel-pop-up {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* styles for individual pop up imagen*/
.small-img-space-pop-up img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

/* styles for individual pop up imagen hover*/
.small-img-space-pop-up:hover {
    cursor: pointer;
    border: 2px solid #007bff;
}

/* Style for the seccion of pop up*/
.interactive-popup-section {
    height: 100%;
    text-align: center;
    align-items: center;
}

/* Style for the interaction pop up */
.interactions-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

/* Style for the interaction Pop Up content */
.interactions-popup-content {
    background-color: #fff;
    margin: 11% auto;
    padding: 20px;
    height: auto;
    min-width: 400px;
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: relative;
}

.interaction-button {
    position: absolute;
    bottom: 20px;
    display: inline-block;
}

/* Style for the button that open the Interaction Pop Up */
.open-interactions-button {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

/* Style for the save button of the pop up */
#saveButton {
    background-color: #74C2F8;
    color: #000000;
    border: none;
    padding: 6px 22px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 4px 0px rgba(80, 158, 224, 0.5);
    width: auto;
}

/* Style for the save button of the pop up when hover*/
#saveButton:hover {
    background-color: #5AABE2;
}

/* Style for the button that close the Interaction Pop Up */
.interactions-close-button {
    background-color: #F87474;
    color: #000000;
    border: none;
    padding: 6px 28px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 4px 0px rgba(224, 80, 80, 0.5);
    width: auto;
    float: left;
    margin-right:138px;
    margin-left:8px;
}

/* Style for the button that close the Interaction Pop Up when hover */
.interactions-close-button:hover {
    background-color: #E25A5A;
}

/* Style for the feedback message of the Pop Up */
.feedback-message {
    background-color: #F5AA38;
    margin: 26% auto;
    color: black;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 14px;
    right: 5%;
    transform: translateX(-50%);
    display: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: 500;
}

/* Style for the report icon */
.report-icon-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Style for the button container */
.buttons-container {
    margin-top:20px;
}

/* Style for the feedback message of the Pop Up when active */
.feedback-message.active {
    display: block; /* Mostrar el mensaje */
    opacity: 1; /* Hacerlo visible */
}

/* Style for the button that manage the user list */
.product-list-button {
    display: inline-block;
    height: auto;
    width: 50%;
    text-align: center;
    margin: 10px;
    padding: 10px;
    font-size: larger;
}

/* Style for the button that manage the user list when add the product */
#add-to-list {
    background-color: #39A4F4;
}

/* Style for the button that manage the user list when add the product when hover */
#add-to-list:hover {
    background-color: #74C2F8;
}

/* Style for the button that manage the user list when remove the product */
#remove-from-list {
    background-color: #F87474;
}

/* Style for the button that manage the user list when remove the product when hover */
#remove-from-list:hover {
    background-color: #E25A5A;
}

/* Style for the plus circle icon */
.fa-plus-circle {
    font-size: 22px !important;
    text-align: center;
    margin: 0px 10px;
}

/* Style for the minus circle icon */
.fa-minus-circle {
    font-size: 22px !important;
    text-align: center;
    margin: 0px 10px;
}

/* Style for the veracity stars */
.veracity-stars {
    width: auto;
    display: inline-block;
    font-size: 30px;
    color: #F5AA38;
    text-align: center;
}

/* Style for the veracity stars in the register section*/
.register-section-stars {
    width: 20%;
    display: inline-block;
}

/* Style for the register block text of the price */
.align-right {
    justify-content: flex-end !important;
}