/* Style for the search bar */

/* Style for the search bar class */
.search-bar {
    display: inline-flex;
    flex: none;
    background-color: #E2E3E3;
    border-radius: 15px;
    margin: auto auto;
    height: 28px;
    width: 60%;
    max-width: 60%;
}

/* Style for the selector of types */
#type-search-selector {
    background-color: #BABAB8;
    padding: 0px;
    margin: 0px;
    width: 17%;
    height: 100%;
    text-align: center;
}

/* Style for the options of the search type */
select.button-general option {
    background-color: #E2E3E3;
}

/* Style for the type selector when the cursor is on the button */
#type-search-selector:hover {
    background-color: #adada9;
}

/* Style for the inner part of the search bar */
.search-inner-section {
    width: 67%;
    border: none;
    border-radius: 15px;
    color: black;
    outline: none;
    height: 100%;
    margin: 0px;
}

/* Style for the search input box */
#search-input {
    width: 65%;
    border: none;
    border-radius: 15px;
    background-color: #E2E3E3;
    color: black;
    outline: none;
    height: auto;
    margin: 0px;
    padding: 0px 10px;
}

/* Style for the search button */
#search-button {
    background-color: #F5AA38;
    margin: 0px;
    z-index: 0;
    width: 10%;
    height: auto;
    border-radius: 15px 0px 0px 15px;
}

/* Style for the image of the search button */
#search-button img {
    width: 20px;
    height: 20px;
    padding-bottom: 5px;
}

/* Style for the search button when the cursor is on the button */
#search-button:hover {
    background-color: #f6a01d;
}
