
/* Style for the body of the page */
.search-page-body {
    width: 100%;
    min-width: 1200px;
    height: auto;
}

/* Style for the filter section */
.filter-section {
    display: inline-block;
    height: 100%;
    width: 13%;
    float: left;
    margin: 85px 0px 0px 0px;
}

/* Style for the filter section title h4 */
.filter-section h4 {
    font-weight: bold;
    font-size: 28px;
    margin: 20px 0px;
}

/* Style for the filter section title h5*/
.filter-section h5 {
    font-size: 23px;
}


.filter-option-section {
    display: inline-block;
    height: 100%;
    max-height: 300px;
    max-width: 400px;
    overflow-y: auto;
    overflow-x: auto;
}

/* Style for the filter section line */
.filter-line {
    font-size: larger;
    margin: 3px 0px;
}

/* Style for the filter button */
.clear-filter-button {
    background-color: #88C8F8;
    margin: 20px 0px;
    text-align: center;
    width: 140px;
    height: auto;
    font-size: medium;
    padding: 5px 5px;
}

/* Style for the filter button when hover*/
.clear-filter-button:hover {
    background-color: #39A4F4;
}

/* Style for search title */
.containerListRegisterColumns {
    display: inline-flex;
    height: auto;
    width: 100%;
    justify-content:space-between;
    list-style: none;
    margin: 10px 0px;
    min-width: 950px;
}

/* Style for search title columns */
.containerListRegisterColumns li {
    font-size: x-large;
    flex: 0 0 0%;
    text-align: center;
    margin: 0px 25px 0px 0px;
    padding: 0px 15px;
}

/* Style for columns */
.containerListRegisterColumns ul {
    margin: 0px;
    padding: 0px;
}


/* Style for the search section */

/*VER!!!!!*/
.search-section {
    height: 100%;
    display:inline-block;
    width: 86%;
    min-width: 950px;
}

.search-section ul {
    width: 100%;
    height: auto;
    margin: 10px 5px;
    padding: 5px;
}

/* Style for the result register block */
.result-block {
    display: inline-block;
    height: auto;
    width: 100%;
    text-decoration: none;
    color: #000000;
    margin: 10px 0px;
    min-height: 4em;
    border-radius: 15px;
    text-align: left;
    min-width: 950px;
    font-size:18px;
}

/* Style for the result register block text*/
.result-block a span {
    display: inline-flex;
    width: 16%;
    margin: auto auto;
    margin: 0px 10px
}

/* Style for the result register block text */
.result-block a {
    /*flex: 0 0 calc(16.67% - 20px);*/
    display: flex;
    height: 4em;
    width: 100%;
    background-color: #E2E3E3;
    justify-content: space-around;
    border-radius: 15px;
    padding: 10px 15px;
    max-height: 3.9em;
    text-decoration: none;
    overflow: clip;
    text-overflow: ellipsis;
    color: #000000;
}

.short-column {
    width: 10% !important;
}

/* Style for the result block when hover */
.result-block a:hover {
    color: #000000;
    border: 1px solid #BABAB8;
}


/* Style for the register block text of the price */
.align-right {
    justify-content: flex-end !important;
}


/* Style for the page when product not found */
#product-not-found {
    display: inline-block;
    flex: content;
    width: 84%;
    height: 100%;
    font-weight: bold;
    text-align: center;
    overflow: clip;
    text-overflow: ellipsis;
    align-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left:70px
}

/* Style for the page image when product not found */
#product-not-found img {
    width: 40%;
    height: 40%;
    margin: -50px
}

.results-cont-msg {
    margin-left: 30px;
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
}

#register-date {
    text-align: center !important;
}

#product-col {
    margin-right: 60px;
}

#brand-col{
    margin: 0px -10px 0px 0px;
}