/* Styles for the search page */

/* Style for the filter section */
.filter-section {
    display: inline-block;
    height: 100%;
    width: 14%;
    float: left;
    margin: 85px 10px 0px 0px;
    max-height: 450px;
    overflow-y: auto;
    overflow-x: auto;
    max-width: 400px;
}

/* Style for the filter section title h4 */
.filter-section h4 {
    font-weight: bold;
    font-size:28px;
    margin: 20px 0px;
}

 /* Style for the filter section title h5*/
.filter-section h5 {
    font-size: 23px;
}


/* Style for the filter section line */
.filter-line {
    font-size: larger;
    margin: 5px 0px;
}

/* Style for the filter button */
.filter-section button {
    background-color: #88C8F8;
    float: right;
    margin: 20px 50px;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 45%;
    height: 50px;
    font-size: medium;
    border-radius : 7.5px;
}

/* Style for the filter button when hover*/
.filter-section button:hover {
    background-color: #39A4F4;
}

/* Style for clear filter button container*/
.clear-button-container {
    display: block;
    flex-direction: column;
    width: 14%;
    height: 1px;
    align-items:center;
}

/* Style for clear filter button*/
.clear-section-button button {
    background-color: #88C8F8;
    width: 81px; 
    height: 50px;
    font-size: medium;
    border-radius: 7.5px;
    margin-top: 5px; 
}

/* Style for clear filter button hover*/
.clear-section-button button:hover {
    background-color: #39A4F4;
}

/* Style for the search section */
.search-section {
    display: inline-block;
    height: 100%;
    width: 83%;
    text-align: center;
}

/* Style for the search section title h1*/
.search-section h1 {
    font-size:30px;
    font-weight: bold;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px;
    margin-bottom:10px;
}

/* Style for the page when product not found */
#product-not-found {
    display: inline-block;
    flex: content;
    width: 84%;
    height: 100%;
    font-weight: bold;
    text-align: center;
    overflow: clip;
    text-overflow: ellipsis;
    align-content: center;
    align-items: center;
    margin-top: 40px;
}

/* Style for the page image when product not found */
#product-not-found img {
    width: 40%;
    height: 40%;
    margin: -50px
}

/* Style for the search section title */
.search-title {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: space-between;
}

/* Style for the search section paragraph */
.search-title p {
    font-size: x-large;
    flex: 0 0 16%;
    text-align: center;
    margin: 10px 0px;
}

/* Style for the result section */
.result-section {
    height: auto;
    width: 100%;
    text-decoration: none;
    color: #000000;
}

/* Style for the result register block */
.result-block {
    height: auto;
    width: 100%;
    text-decoration: none;
    color: #000000;
}

/* Style for the result register block text */
.result-block a {
    /*flex: 0 0 calc(16.67% - 20px);*/
    display: flex;
    height: 4em;
    width: 100%;
    background-color: #E2E3E3;
    justify-content: space-around;
    border-radius: 15px;
    margin: 10px 0px;
    padding: 0px 10px;
    max-height: 4em;
    text-decoration: none;
    overflow: clip;
    text-overflow: ellipsis;
    color: #000000;
}

/* Style for the result register block text*/
.result-block a span {
    flex: 0 0 16%;
    text-align: left;
    margin: 10px 0px;
}

/* Style for the result register block price */
#result-price {
    text-align: right;
}
/* Style for the result block when hover */
.result-block a:hover {
    color: #000000;
    border: 1px solid #BABAB8;
}

/* Style for dropdown options */
.dropdownOption {
    text-align: center;
    height: auto;
    font-size: large;
    margin: 0px;
}   

/* Style for search title */
.containerListRegisterColumns {
    display: inline-flex;
    height: auto;
    width: 100%;
    justify-content: space-between;
    list-style: none;
    margin: 10px 0px;
}


/* Style for search title columns */
.containerListRegisterColumns li {
    font-size: xx-large;
    flex: 0 0 16%;
    text-align: center;
}

/* Style for columns */
.containerListRegisterColumns ul {
    margin: 0px;
    padding: 0px;
}


/* Style for search title links */
.containerListRegisterColumns a {
    color: black;
    text-decoration: none;
    text-align: center;
}

/* Style for search title links when hover */
.containerListRegisterColumns > li:hover > a {
    color: #208EE0;
}

/* Style for the vertical menu */
.menu-vertical {
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    background-color: darkgrey;
    border-radius: 15px;
}

/* Style for the vertical menu when hover the columns */
.containerListRegisterColumns li:hover .menu-vertical {
    display: block;
}

/* Style for the vertical menu when display */
.menu-vertical li a {
    display: grid;
    color: white;
    text-decoration: none;
    padding: 15px;
    font-size: large;
    text-align: center;
}

/* Style for comment */
.textComment {
    text-align: center;
    margin: 0px;
}

.results-cont-msg {
    text-align:left;
    font-size:18px;
    margin-bottom:10px;
}