.search-bar {
    display: flex;
    width: auto;
    margin: auto 225px;
    background-color: #E2E3E3;
    border-radius: 15px;
}

#search-input {
    flex: auto;
    padding: 5px 10px;
    border: 1px hidden;
    border-radius: 15px;
    background-color: #E2E3E3;
    color: black;
    outline: none;
}

#type-search-selector {
    background-color: #BABAB8;
    color: black;
    border: none;
    border-radius: 15px;
    padding: 0px 10px;
    cursor: pointer;
    margin: 0px initial;
}

#type-search-selector img{
    padding: 5px;
    width: auto;
    height: auto;

}

#type-search-selector:hover {
    background-color: #adada9;
}

#search-button {
    background-color: #F5AA38;
    color: black;
    border: none;
    border-radius: 15px;
    margin: 0px auto;
    cursor: pointer;
    z-index: 1;
}

#search-button img {
    width: 90%;
    height: 90%;
    padding: 0px 15px;
}

#search-button:hover {
    background-color: #f6a01d;
}

#location-selector {
    background-color: #88C8F8;
    color: black;
    border: none;
    border-radius: 15px;
    padding: 0px 30px;
    cursor: pointer;
    margin: 0px -25px;
    z-index: 0;
}

#location-selector img {
    width: 27px;
    height: 27px;
    padding: 0px 5px;
}

#location-selector:hover {
    background-color: #39A4F4;
}

.layout-button {
    background: none;
    border: none;
    margin: auto auto -20px auto;
    cursor: pointer;
    align-items: center;
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
}

.layout-button img {
    max-height: 30px;
    max-width: 30px;
}

.layout-button p {
    color: black;
}


#add-register-button {

}

#user-settings-button {
    
}