/* Style shared by several pages */

/* General style for the button */
.button-general {
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

/* Style of the box of the logo image of the main page*/
.logo-image {
    height: auto;
    width: auto;
    margin: 50px;
    text-align: center;
}

/* Style for the logo image of the main page*/
.logo-image img {
    max-height: 40%;
    max-width: 40%;
}

/* Style for the layout buttons */
.layout-button {
    background: none;
    margin: 0px 10px -15px 5px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    min-width: 55px;
}

/* Style for the paragraph in the layout button */
.layout-button p {
    color: black;
}

/* Style for the image of the layout buttons */
.layout-button img {
    max-height: 30px;
    max-width: 30px;
}

/* Style for the logo that work as a link to the main page */
.logo-link {
    display: inline-block;
    height: 40px;
    width: 120px;
    margin: 9px 0px 0px 15px;
    vertical-align: middle;
}

/* Style for the image of the logo that work as a link to the main page */
.logo-link img {
    height: 40px;
    width: 120px;
}
