@page
@model LoCoMPro.Pages.AddProductPageModel
@{
    ViewData["Title"] = "AgregarProducto";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Nuevo Registro</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="~/css/SharedStyles.css">
</head>
<body>
    <div class="register-section">
        <div class="title-and-button">
            <h2>Nuevo registro de producto</h2>
            <button type="submit" class="submit-button" form="addProductForm">
                <div class="button-content">
                    <span class="button-text">Publicar Registro</span>
                    <img src="~/img/AddRegisterIcon.svg" alt="addRegIcon" class="icon">
                </div>
            </button>

        </div>
        <hr class="title-separator">
        <form id = "addProductForm">
          
            <label for="location">Establecimiento:</label>
            <input type="text" id="location" name="location" placeholder="Establecimiento" required>

            <label for="productName">Nombre del Producto:</label>
            <input type="text" id="productName" name="productName" placeholder="Nombre" required>
			<label for="price">Precio:</label>
            <input type="text" id="price" name="price" placeholder="Precio" required >
            <label for="brand">Marca (Opcional):</label>
            <input type="text" id="brand" name="brand" placeholder="Marca">
          
          	<label for="model">Modelo (Opcional):</label>
            <input type="text" id="model" name="model"placeholder="Modelo">

            <label for="category">Categoría:</label>
            <select id="category" name="category" required>
                <option value=""  selected>Elegir categoría</option>
                <option value="option1">Ropa</option>
                <option value="option2">Comida</option>
                <option value="option3">Tecnología</option>
            </select>


            <label for="comment">Comentario:</label>
            <textarea id="comment" name="comment"></textarea>

        </form>
    </div>
</body>
</html>
