@page
@model LoCoMPro.Pages.AddProductPageModel
@{
    ViewData["Title"] = "AgregarProducto";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Registro</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="~/css/SharedStyles.css">
    <link rel="stylesheet" href="~/css/AddProductPage.css">
</head>

<body>
    <div class="register-section">
        <form id = "addProductForm">
            <h2>Nuevo registro de producto</h2>
            <hr class="title-separator">

            <label for="location">Ubicación<span class="required-marker">*</span>
                <span class="required-tooltip">Campo obligatorio</span></label>
            <div class="location-container">
                <button type="button" class="location-button" id="locationButton">Elegir ubicación</button>
                <input type="text" id="chosenLocation" name="chosenLocation" style="display: none;" readonly>
            </div>
            <label for="location">Establecimiento<span class="required-marker">*</span> 
            <span class="required-tooltip">Campo obligatorio</span></label>
            <input type="text" id="location" name="location" class="required-field" placeholder="Establecimiento" required>

            <label for="productName">Nombre del Producto<span class="required-marker">*</span>
                <span class="required-tooltip">Campo obligatorio</span></label>
            <input type="text" id="productName" name="productName" class="required-field" placeholder="Nombre" required>

            <div class="price-category-container">
                <div class="price-category-field-group">
                    <label for="price">Precio<span class="required-marker">*</span>
                        <span class="required-tooltip">Campo obligatorio</span></label>
                    <input type="text" id="price" name="price" class="required-field" placeholder="Precio" required>
                </div>
                <div class="price-category-field-group">
                    <label for="category">Categoría </label>
                    <select id="category" name="category" required>
                        <option value=""  selected>Elegir categoría</option>
                        <option value="option1">Ropa</option>
                        <option value="option2">Comida</option>
                        <option value="option3">Tecnología</option>
                    </select>
                </div>

            </div>

            <div class="brand-model-container">
                <div class="brand-model-field-group">
                    <label for="brand">Marca</label>
                    <input type="text" id="brand" name="brand" placeholder="Marca">
                </div>
                <div class="brand-model-field-group">
                    <label for="model">Modelo</label>
                    <input type="text" id="model" name="model" placeholder="Modelo">
                </div>
            </div>

            <label for="comment">Comentario:</label>
            <textarea id="comment" name="comment"></textarea>

            <button type="submit" class="submit-button" form="addProductForm">
                <div class="button-content">
                    <span class="button-text">Publicar Registro</span>
                    <img src="~/img/AddRegisterIcon.svg" alt="addRegIcon" class="icon">
                </div>
            </button>

            <div id="locationPopup" class="popup">
                <div class="popup-content">
                    <h2>Selecciona tu ubicación</h2>
                    <label for="province">Provincia:</label>
                    <select id="province" name="province">
                        <option value="provincia1">Provincia 1</option>
                        <option value="provincia2">Provincia 2</option>
                    </select>
                    <label for="canton">Cantón:</label>
                    <select id="canton" name="canton" disabled>
                        <option value="" selected>Selecciona provincia primero</option>
                        <option value="canton3">Cantón 3</option>
                        <option value="canton4">Cantón 4</option>
                    </select>
                    <button type="button" id="saveLocation-botton">Guardar</button>
                </div>
            </div>
        </form>
    </div>
    <script src="~/js/selectLocation.js"></script>
    <script src="~/js/sequentialForm.js"></script>
</body>
</html>
