@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["HiddenLayout"] = true;
}

 <div class="text-center">
     <!-- Logo image of LoCoMPro -->
    <div class="logo-image">
        <img src="~/img/LoCoMProLogo.svg" alt="LoCoMPro Logo">
    </div>

    <!-- Section of the search bar and buttons -->
    <div class="search-bar">
        <!-- Type selector button -->
        <button class="button-general" id="type-search-selector">
            <span>Buscar por</span>
            <img src="~/img/ArrowDownIcon.svg"/>
        </button>

        <!-- Input box for the search -->
        <input type="text" id="search-input" placeholder="Buscar.." />

        <!-- Search button -->
        <button class="button-general" id="search-button">
            <img src="~/img/SearchIcon.svg" />
        </button>

        <!-- Location butoon -->
        <button class="button-general" id="location-selector">
            <img src="~/img/LocationIcon.svg" />
            <span> Placeholder de una prueba Texto que puede ser demasiado largo y se desborda </span>
        </button>
    </div>
</div>

