@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewBag.ShowSearchBar = false;
    ViewBag.ShowLogoLink = false;
}

 <div class="text-center">
    <div class="logo-image">
        <img src="~/img/LoCoMProLogo.svg" alt="LoCoMPro Logo">
    </div>

    @await Html.PartialAsync("_SearchBar")

    <div id="feedbackMessage" class="feedback-message"></div>

    <script>
        var feedbackMessageTemp = '@TempData["FeedbackMessage"]';
    </script>

    <script src="~/js/feedbackMessage.js"></script>
    <script src="~/js/HomePage/displayFeedbackMessage.js"></script>

    <script>
        <@TempData.Remove("FeedbackMessage"); 
    </script>
</div>