@page
@model IndexModel
@{
    ViewData["Title"] = "Página principal";
}

<head>
    <link rel="stylesheet" href="../Pages/Index.cshtml.css" />
</head>

 <div class="text-center">
    <h1>LoCoMPro</h1>
    <div class="search-bar">
        <button id="type-search-selector">Buscar por</button>
        <input type="text" id="search-input" placeholder="Buscar.." />
        <button id="search-button">Buscar</button>
        <button id="location-selector">Prueba</button>
    </div>
</div>
