/* Styles for the main page of the system*/

/* Style of the box of the logo image of the main page*/
.logo-image {
    height: auto;
    width: auto;
    margin: 30px auto;
    text-align: center;
}

/* Style for the logo image of the main page*/
.logo-image img {
    max-height: 100%;
    max-width: 100%;
}
