@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Página principal";
}

<head>
    <link rel="stylesheet" href="~/css/SharedStyles.css" />
</head>

 <div class="text-center">
    <div class="logo-image">
        <img src="~/img/LoCoMProLogo.svg" alt="LoCoMPro Logo">
    </div>
    <div class="search-bar">
        <button id ="type-search-selector">
            <span>Buscar por</span>
            <img src="~/img/ArrowDownIcon.svg"/>
        </button>
        <input type="text" id="search-input" placeholder="Buscar.." />
        <button id="search-button">
            <img src="~/img/SearchIcon.svg" />
        </button>
        <button id="location-selector">
            <img src="~/img/LocationIcon.svg" />
            <span> Placeholder </span>
        </button>
    </div>
</div>

