@page
@model LoCoMPro.Pages.ProductListpageModel
@{
    ViewData["Title"] = "Lista de Productos";
    Layout = "_Layout";
    ViewBag.ShowSearchBar = true;
    ViewBag.ShowLogoLink = true;
}

<head>
    <link rel="stylesheet" href="~/css/ProductListPage.css" />
</head>

<div class="product-list-page">

    <!-- Title of the list-->
    <div class="titlePage">
        Lista de productos
    </div>

    <!-- Amount of products in the list-->
    <div class="subHeading">
        Cantidad de productos:
    </div>

    <!-- Aprox price of all list-->
    <div class="subHeading">
        Precio aproximado:
    </div>

    <!-- Horizontal separating line -->
    <hr class="style-four">

    <!-- Section for columns of specifications from Search product -->
    <div class="characteristic-section">
        <div class="column">
            <p>Producto</p>
        </div>
          <div class="column">
            <p>Marca</p>
        </div>
        <div class="column">
            <p>Modelo</p>
        </div>
        <div class="column">
            <p>Ubicación</p>
        </div>
        <div class="column">
            <p>Precio Promedio</p>
        </div>
        <div class="column-for-button">
            <p>p</p>
        </div>
    </div>


</div>