@page
@model LoCoMPro.Pages.ProductListpageModel
@{
    ViewData["Title"] = "Lista de Productos";
    Layout = "_Layout";
    ViewBag.ShowSearchBar = true;
    ViewBag.ShowLogoLink = true;
}

<head>
    <link rel="stylesheet" href="~/css/ProductPage.css" />
</head>

<div class="product-list-page">

</div>