@page
@model LoCoMPro.Pages.ProductoModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>Titulo</title>
</head>
<body>
    <div class="tituloProducto">
        Titulo del Producto solicitado
    </div>
    <div class="nombreColumna">
        <text>Marca</text>
        <text>Modelo</text>
        <text>Establecimiento</text>
        <text>Cantón</text>
        <text>Provincia</text>
    </div>

    <div class="valorColumna">
        <text>NombreMarca</text>
        <text>NombreModelo</text>
        <text>NombreEstablecimiento</text>
        <text>NombreCanton</text>
        <text>NombreProvicia</text>
    </div>

   </body>

</html>
